/* Perbesar lebar title image, sambil jaga tinggi */
#titleImage {
  max-height: 4.0rem; /* Tinggi tetap */
  width: 150px; /* Tambah lebar tetap (ubah ke 200px/300px kalau mau lebih/kurang) */
  height: auto; /* Tinggi auto biar proporsional */
}
