/* ================= RESET ================= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================= BODY ================= */
body {
  font-family: "Comic Sans MS", system-ui, sans-serif;
  background: #f6f1e7; /* krem washi */
  color: #111;
}

/* ================= HEADER ================= */
header {
  position: sticky;
  top: 0;
  z-index: 10;

  /* HEADER JADI TIPIS */
  padding: 0.6rem 1rem 0.8rem;

  /* BACKGROUND IMAGE TETAP */
  background-image: url("./assets/header.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  color: #fff;
}

/* ================= TITLE ================= */
header h1 {
  display: none;
}

/* ================= CONTROLS ================= */
header select,
header input {
  width: 100%;
  margin-top: 0.4rem;
  padding: 0.7rem 0.9rem;

  font-size: 14px;
  font-family: Comic Sans MS;

  /* FULL TRANSPARENT */
  background: transparent;
  color: #fff;

  border: 1.5px solid rgba(255, 255, 255, 0.85);
  border-radius: 14px;

  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}

header select:focus,
header input:focus {
  outline: none;
  border-color: #ffffff;
  box-shadow: 0 0 0 2px rgba(255,255,255,0.4);
}

header input::placeholder {
  color: rgba(255,255,255,0.8);
}


/* ================= GRID ================= */
#grid {
  padding: 1.4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 1.2rem;
}

/* ================= CARD ================= */
.card {
  background: #ffffff;
  border-radius: 14px;
  padding: 1rem 0.8rem;
  text-align: center;

  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
}

/* ================= TEXT ================= */
.kanji {
  font-family: "Comic Sans MS", serif;
  font-size: 46px;
  font-weight: 600;
  color: #264653;
}

.kana {
  font-size: 13px;
  color: #555;
  margin-top: 0.3rem;
}

.meaning {
  font-size: 13px;
  margin-top: 0.2rem;
}
